<!doctype html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Welcome to Coffee 101</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}">
  </head>
    <body onload="loadCoffeePage()">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      <a class="nav-link" href="../" >Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="{{ url_for('coffee_menu.show_menu') }}">Coffee Menu </a>
      </li>
      </div>
      
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
    </nav>


    <div class="container">
      <br />
      <div class="row">
        <div class="col-4">
          <div class="card">

            <img
              class="card-img-top"
              id="coffee_img"
              src="../static/img/espresso-recipe-guide.png"
              alt="Placeholder for Coffee image"
            />
            <div class="card-body mx-auto">
              <div class="dropdown">
                <button
                  class="btn btn-secondary dropdown-toggle"
                  type="button"
                  id="selectCoffeeButton"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Select a Coffee
                </button>
                <div
                  id="coffee_selector"
                  class="dropdown-menu"
                  aria-labelledby="selectCoffeeButton"
                ></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="table-responsive">
            <table class="table">
              <tr>
                <th>Type</th>
                <td><span id="c_type"></span></td>
              </tr>
              <tr>
                <th>Cup Size</th>
                <td><span id="c_cup"></span></td>
              </tr>
              <tr>
                <th>Milk</th>
                <td><span id="c_milk"></span></td>
              </tr>
                <tr>
                <th>Foam</th>
                <td><span id="c_foam"></span></td>
              </tr>
             
            </table>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
    <script src="../static/js/my_scripts.js"></script>





  </body>
</html>